@inherits LayoutComponentBase

<div class="page">

    <NavMenu NavMenuParameters="MenuParameters"/>

    <div class="main">


        <nav class="navbar navbar-expand-lg navbar-light border-bottom" style="@Style">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                @if (ResponseHeader.IsNull())
                {
                    <div class="title">Loading...</div>
                }
                else
                {
                    <div class="title">@ResponseHeader.Header.Title</div>
                }
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                </ul>
            </div>
        </nav>

        <div class="content px-4">
            @Body
        </div>
    </div>

    
</div>
